body
{
    background-image: url(./imges/images.jpg);
    background-size: cover;
}
.container
{
    border: 5px solid blue;
    margin-left: 1000px;
    margin-right: 1000px;
    margin-top: -25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
}
.content
{
    font-size: 100px;
    border: 5px solid red;
    background-color: red;
    text-align: center;
    margin-left: 1000px;
    margin-right: 1000px;
    margin-top: 600px;
}
.item
{
    width: 200px;
    height: 200px;
    background-color: deepskyblue;
    margin: 5px;
    margin-left: 100px;
    text-align: center;
    flex-wrap: wrap-reverse;
}